/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
     background-image: url(../src/assets/download.jpeg);
   
}
h1,h2{
     font-family: 'Caveat', cursive
}

 li,p{
     font-family: 'Courgette', cursive;
}

.col{
     width: 100px;
}